// https://css-tricks.com/using-custom-property-stacks-to-tame-the-cascade/
@function vars($stack...) {
	$output: null;
	$close: '';
	$length: length($stack);

	@each $var in $stack {
		@if (str-index('#{$var}', '--') == 1) {
			$var: 'var(#{$var}';
			$close: '#{$close})';
		}

		$output: if($output, '#{$output}, #{$var}', $var);
	}

	@return unquote($output + $close);
}
